@import url('https://fonts.googleapis.com/css2?family=Domine:wght@700&family=Inter&family=Lato:ital,wght@0,900;1,400;1,700;1,900&family=Lora:ital,wght@0,600;1,500;1,600&family=M+PLUS+1:wght@700;900&family=Montagu+Slab:wght@400;700&family=Shippori+Antique+B1&family=Source+Sans+Pro&family=Tinos:ital,wght@0,700;1,400;1,700&family=Ubuntu:ital@1&display=swap');

:root {
    --primary-color:blue;
    --off-white: #F3F4F6;
    --dark-gray: #6B7280;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0px;
    font-size: large;
    
    

}


.margin-md {
    margin: 1rem;
}

.container {
    padding: 0rem 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}


.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    display: block;
    max-width: 140px;
    margin: 1rem 1rem 1rem 0rem;
}


.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
    
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
    
}


.navigation {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color:whitesmoke;
}

.navigation .link-active {
    font-weight: bold;
}


.hero {
    padding: 2rem;
    padding-top: 5rem;
    text-align: center;

}

.hero .hero-img {
    max-width: 80%;
    width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color:blueviolet;
}

.hero .hero-heading .heading-inverted {
    color:blueviolet;
}



.section {
    padding: 2rem;
    color:black;
    background-color:var(--off-white) ;
}

.section h1 {
    text-align: center;

}

.ow {
    background-color: var(--off-white);
}


.footer {
    background-color: var(--primary-color);
    padding: 4rem 1rem;
    text-align: center;
    color: white;

}

.footer .link {
    color:blanchedalmond
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

.showcase-list {
    padding: 2rem;
    
}
.showcase-h1{
    color: aquamarine;
}

.showcase-blog {
    padding-bottom: 6rem;
}